.content {
  background-color: azure;
  grid-area: cont;
}

.content__img img {
  width: 800px;
  height: 100px;
}

.profile {
  display: flex;
}

.profile__ava img {
  width: 100px;
  height: 100px;
}