.App {
  width: 1200px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 
  "header header"
  "sidebar cont"
  ;
  gap: 20px;
}

ul {
  list-style: none;
}



