.App {
  width: 1200px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 
  "header header"
  "sidebar cont"
  ;
  gap: 20px;
}

ul {
  list-style: none;
}

.header {
  background-color: aqua;
  grid-area: header;
}

.header img {
  width: 40px;
}

.sidebar {
  background-color: antiquewhite;
  grid-area: sidebar;
}

.content {
  background-color: azure;
  grid-area: cont;
}

.content__img img {
  width: 800px;
  height: 100px;
}

.profile {
  display: flex;
}

.profile__ava img {
  width: 100px;
  height: 100px;
}